:root {
  --primary-color: #3498db;
  --secondary-color: #F2994A;
  --font-color: #333333;
  --btn-color: #F27D16;
  --background-color: #FFF8F0;
  --link-color: #0A5DA6;
  --border-radius: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins',open sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

nav.navbar {
    display: flex;
  background-color: rgb(17, 17, 17);
  justify-content: space-between;
  padding: 1rem;
}
nav.navbar ul {
  list-style: none;
  display: flex;
    gap: 1rem;
    
}
nav.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
 
}

nav div .logo {
  width: 200px;
  height: 50px;
}
