:root {
  --primary-color: #3498db;
  --secondary-color: #f2994a;
  --font-color: #333333;
  --btn-color: #f27d16;
  --background-color: #fff8f0;
  --link-color: #0a5da6;
  --border-radius: 5px;
  --bs-font-sans-serif: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--bs-font-sans-serif);
  color: var(--font-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

nav .logo {
  width: 150px;
  height: auto;
}

nav ul {
  list-style-type: none !important;
}

nav .nav-link {
  color: #00447c !important;
  font-weight: bold;
  font-size: 16px;
  margin-right: 15px;
}
nav .nav-link:hover {
  color: var(--primary-color) !important;
}

#navbar.scrolled {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 20px 20px;
  padding: 10px 0;
}

footer {
  background-color: #00447c;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-size: 10px;
  letter-spacing: 0.5px;
}

footer p {
  margin: auto;
}

@media screen and (max-width: 991px) {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2300447c' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

 
  nav #navbarNavAltMarkup {
    position: absolute !important;
    background: var(--background-color) !important;
    border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
    top: 56px !important;
    left: auto !important;
    right: 0 !important;
    width: 40vw !important;
    height: 100vh !important;
    z-index: 1000 !important;
    padding: 10px 15px !important;
  }

  
  nav #navbarNavAltMarkup .navbar-nav {
    display: flex !important;
    flex-direction: column !important;
    gap: 8px;
    align-items: flex-start;
  }
}
