{% load static %} {% comment %}
<nav class="navbar">
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'accounts:login' %}">Login</a></li>
    <li><a href="{% url 'accounts:register' %}">Join Now</a></li>
  </ul>
</nav>
{% endcomment %}

<nav class="navbar">
  <div><img class="logo" alt="logo" src="{% static 'images/icon.png' %}" /></div>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
  </ul>
  <ul>
    <li><a href="{% url 'accounts:login' %}">Login</a></li>
    <li><a href="{% url 'accounts:register' %}">Join Now</a></li>
  </ul>
</nav>
